body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.wrapper {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title {
    color: #333333;
    font-size: 24px;
    margin-bottom: 20px;
}

.animation-box {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    background-color: #007BFF;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    
    40% {
        transform: translateY(-20px);
    }
    
    60% {
        transform: translateY(-10px);
    }
}

.info {
    color: #666666;
}

